<configuration>
   <appSettings>
      <!-- DNS-Name oder Alias des Gateway-Servers -->
      <add key="GatewayA" value="172.19.0.5"/>
      <add key="PortA"    value="25400" />
      <add key="GatewayB" value="172.19.0.3"/>      
      <add key="PortB"    value="25400" />
      <add key="Balance"  value="on" />
   </appSettings>
</configuration>
