<configuration>
    <appSettings>
        <!-- DNS-Name oder Alias des Gateway-Servers -->
        <!--
        <add key="Gateway" value="141.53.78.222"/>
        <add key="GatewayB" value="141.53.78.223"/>
        -->
        <!-- Port -->
        <!--
        <add key="Port" value="25400"/>
        -->
    </appSettings>
</configuration>