// File  : Tain2.cfg        (primary CFG)
// Module: TaskManager
// Vers  : 1.0
// Date  : 25.10.1999
// Sign  : kla
// Doc   : TaskMan.doc
//
// Proj  : OstAlb
//         ======
//
// [20090619.0934] dbu  p19125 ReorAbli.cfg hat gefehlt.
// [20090615.1347] dbu  p19125 Falcon Statistik getrennt in CS Instance
//                             SPM2.0 implementiert.
// [20080625.1319] dbu  p????? Falcon Zusatzmodul aktiviert.
// [20071115.1408] dbu  p????? dbdump aktiviert.
//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+

#SectionHierarch  ; dieser File ist hierarchisch zu interpretieren!

[Global]
  WindowTitle    = Tain Monitor
  ErrorLogFile   = h:\swllog\spm.tain\Tain.log
  EnableCFGEdit  = yes
  ColTitle5      = akt.Proc.
  ColTitle6      = RetCode
[End]


// ************************************************************************************************
[DBTaskGroup:Tain2]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    [Tasks] // Tabelle zugehöriger Tasks:
            // TaskClass: ist eine ID, die den zu generierenden Task festlegt
            //            (wird überprüft mit dem entsprechenden Parameter in den Sub-Cfg's)
            // Taskcfg  : ist der zugehörige cfg-File (muß im gleichen Directory liegen wie dieser cfg-File!!

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , PreTain.cfg
         Scheduler        , Mint.cfg
         Scheduler        , Tain.cfg
         Scheduler        , OP-Konservenpatientenliste.cfg
    [End]

[End] // End DBTaskGroup:Tain2


// ************************************************************************************************
[DBTaskGroup:Opt&Save]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    // Hinweise:
    // Die Archivierung sollte immer VOR Dump / Opt laufen und NIE gleichzeitig mit Dump !!!
    // Das Optimize soll (laut LME) immer erst NACH der
    // Sicherung (FileDump oder TapeDump) laufen !!
    // => Also in den entsprechenden cfg's den Startzeitpunkt der Sicherung früher als
    //    den des Optimize einstellen (es reicht im Prinzip 1 sec).

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , Arch.cfg

         Scheduler        , OptTask.cfg
         Scheduler        , Optimize.cfg
         Scheduler        , Opt_Man.cfg
    [End]

[End] // End DBTaskGroup:Opt&Save


// ************************************************************************************************
[DBTaskGroup:LabAutomatik]  // Nur für Tasks, die keine Datenbak benötigen!

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         DirCleaner       , DirClean.cfg
         Scheduler        , ReorAbli.cfg

//       Scheduler        , ntdasi.cfg
//       Scheduler        , abliaufb.cfg
//       Scheduler        , StammExp.cfg
    [End]

[End] // End DBTaskGroup:LabAutomatik

// ************************************************************************************************
[DBTaskGroup:Sonstige]  // Nur für Tasks, die keine Datenbak benötigen!

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , KonfigDiff.cfg
         Scheduler        , freyexp.cfg
    [End]

[End] // End DBTaskGroup:Sonstige

// ************************************************************************************************
[DBTaskGroup:doSQLlog]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , doSQLlog.cfg
    [End]

[End] // End DBTaskGroup:doSQLlog

// ------------------------------------------------------------------------------
// end of file
