<configuration>
    <appSettings>
        <!-- DNS-Name oder Alias der Gateway-Server -->
        <add key="GatewayA" value="labswgate01.intra.kgu.de"/>
        <add key="GatewayB" value="labswgate02.intra.kgu.de"/>
        <add key="GatewayC" value="labswgate03.intra.kgu.de"/>
        <add key="GatewayD" value="labswgate04.intra.kgu.de"/>

                
	<!-- Port -->
	<!--
	<add key="PortA" value="25400"/>
	<add key="PortB" value="25400"/>
	<add key="PortC" value="25400"/>
	<add key="PortD" value="25400"/>
	-->
	
	<!-- Balance -->
	<!-- hier erfolgt kein Loadbalancing nach Auslastung, sondern eine Verteilung nach Zufallsprinzip -->
	<add key="Balance" value="on" />

    </appSettings>
</configuration>