// File  : Tain2.cfg        (primary CFG)
// Module: TaskManager
// Vers  : 2.1
// Date  : 19.01.04
// Sign  : ww/pie
// Doc   : TaskMan.doc
//
// Proj  : Basissystem
//         ===========

//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+

;*****************************************************************************
; AENDERUNGEN:
; 090813 avt Task Mint.cfg aktiviert
; 090812 avt Task UpPatiListe5min.cfg eingefügt
; 090811 avt Task PreTain.cfg und ReorAbli.cfg eingefügt
; 090810 avt Task Holi_akt.CFG eingefügt
; 080206 yna Kapitel Netzlaufwerke eingfügt
; 070730 ww  dumpdb muss mit User dbdump gestartet werden
; 051010 ww  DBTaskGroup:DB&TranDump eingebaut
;
;*****************************************************************************


#SectionHierarch  ; dieser File ist hierarchisch zu interpretieren!

[Global]
    WindowTitle    = TAIN_Monitor_(SPM)     // TAIN2 via SPM
    ErrorLogFile   = h:\swllog\spm.tain\Tain.log
    EnableCFGEdit  = yes
    ColTitle5      = akt.Proc.
    ColTitle6      = RetCode
[End]

// ************************************************************************************************
[DBTaskGroup:Tain2]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    [Tasks] // Tabelle zugehöriger Tasks:
            // TaskClass: ist eine ID, die den zu generierenden Task festlegt
            //            (wird überprüft mit dem entsprechenden Parameter in den Sub-Cfg's)
            // Taskcfg  : ist der zugehörige cfg-File (muß im gleichen Directory liegen wie dieser cfg-File!!

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , ReorAbli.cfg
         Scheduler        , PreTain.cfg
         Scheduler        , UpPatiListe5min.cfg
         Scheduler        , Lauris_Patiliste.cfg
         Scheduler        , Mint.cfg
         Scheduler        , Tain.cfg
    [End]

[End] // End DBTaskGroup:Tain2


// ************************************************************************************************
[DBTaskGroup:Opt&Save]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    // Hinweise:
    // Die Archivierung sollte immer VOR Dump / Opt laufen und NIE gleichzeitig mit Dump !!!
    // Das Optimize soll (laut LME) immer erst NACH der
    // Sicherung (FileDump oder TapeDump) laufen !!
    // => Also in den entsprechenden cfg's den Startzeitpunkt der Sicherung früher als
    //    den des Optimize einstellen (es reicht im Prinzip 1 sec).

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

//       Scheduler        , Arch.cfg
//       Scheduler        , FileDump.cfg   nur noch DBTaskGroup:DB&TranDump benutzen
//       Scheduler        , TapeDump.cfg

         Scheduler        , OptTask.cfg
         Scheduler        , Optimize.cfg
         Scheduler        , Opt_Man.cfg
         Scheduler        , Holi_akt.CFG
    [End]

[End] // End DBTaskGroup:Opt&Save


// ************************************************************************************************
[DBTaskGroup:LabAutomatik]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         DirCleaner       , DirClean.cfg
    [End]

[End] // End DBTaskGroup:LabAutomatik

// ************************************************************************************************
[DBTaskGroup:doSQLlog]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = sa                 // muss 'sa' sein, damit alle Prozeduren ausgefuert werden koennen
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , doSQLlog.cfg
    [End]

[End] // End DBTaskGroup:doSQLlog

// ************************************************************************************************
[DBTaskGroup:Sonstiges]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = // sa              // muss 'sa' sein, damit alle Prozeduren ausgefuert werden koennen
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , freyexp.cfg
         Scheduler        , konfigdiff.cfg
    [End]

[End] // End DBTaskGroup:Sonstiges



// ------------------------------------------------------------------------------
// end of file
