// File  : UpPatiListe5min.cfg
// Module: Scheduler TaskClass (TaskManager)
// Vers  : 0.1
// Date  : 17.03.2008
// Sign  : fbo
// Doc   :
//
// Proj  : BRHV (Bremerhaven)
//         ===========
//
//
//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+


#SectionHierarch        // dieser File ist hierarchisch zu interpretieren!

TaskClass  = Scheduler
TaskName   = UpPatiListe5min

[Timing] //            ZeitUm/               (1..7,W,F,*)
         // Intervall, ZeitVon  , ZeitBis  , WochenTage,
                5m   ,     *    ,   *      ,   *       ,
[End]

[Run]

    // WriteLog("UpPatiListe5min")
    rc = Run("isql", PServer(), PUser(), Ppwd(), "-iUpPatiListe5min.isq" )

[End]

//--- EndOfFile --
