<configuration>
   <appSettings>
      <!-- DNS-Name oder Alias des Gateway-Servers -->
      <add key="GatewayA" value="ukksrvcom101.ADS.UK-KOELN.DE"/>
      <add key="GatewayB" value="ukksrvcom001.ADS.UK-KOELN.DE"/>
      <add key="Balance" value="on"/>
      <add key="BasePath" value="Y:\Lauris"/>
   </appSettings>
</configuration>
