// File  : Tain2.cfg        (primary CFG)
// Module: TaskManager
// Vers  : 1.0
// Date  : 25.10.1999
// Sign  : kla
// Doc   : TaskMan.doc
//
// Proj  : Basissystem
//         ===========
//
// geändert [20080603.1146] dbu  p18132 angepasst wegen Migration.
// geändert [20070130.1150] dbu  p????? DBDUMP eingebaut.
//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+

#SectionHierarch  ; dieser File ist hierarchisch zu interpretieren!

[Global]
  WindowTitle    = Tain - Dienst
  ErrorLogFile   = h:\swllog\spm.tain\Tain.log
  EnableCFGEdit  = yes
  ColTitle5      = akt.Proc.
  ColTitle6      = RetCode
[End]

// ************************************************************************************************
[DBTaskGroup:Tain2]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks] // Tabelle zugehöriger Tasks:
            // TaskClass: ist eine ID, die den zu generierenden Task festlegt
            //            (wird überprüft mit dem entsprechenden Parameter in den Sub-Cfg's)
            // Taskcfg  : ist der zugehörige cfg-File (muß im gleichen Directory liegen wie dieser cfg-File!!

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , PreTain.cfg
         Scheduler        , Mint.cfg
         Scheduler        , Tain.cfg
         Scheduler        , Holi_akt.CFG
         Scheduler        , Lauris_Patiliste.cfg
         Scheduler        , Lauris_Patiliste_Bereitschaftsdienst.cfg
    [End]
[End] // End DBTaskGroup:Tain2

// ************************************************************************************************
[DBTaskGroup:Opt&Save]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    // Hinweis:
    // Das Optimize soll (laut LME) immer erst NACH der
    // Sicherung (FielDump oder TapeDump) laufen !!
    // => Also in den entsprechenden cfg's den Startzeitpunkt der Sicherung früher als
    //    den des Optimize einstellen (es reicht im Prinzip 1 sec).

    [Tasks]
      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , Arch.cfg
         Scheduler        , OptTask.cfg
         Scheduler        , Optimize.cfg
         Scheduler        , Opt_Man.cfg
    [End]

[End] // End DBTaskGroup:Opt&Save

// ************************************************************************************************
[DBTaskGroup:LabAutomatik]  // Nur für Tasks, die keine Datenbak benötigen!

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    =                    // SQLCLUSTER
    DBName      =                    //
    User        =
    pwd         =                    // besser nur über RunString setzen !!

    [Tasks]
      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         DirCleaner       , DirClean.cfg
         Scheduler        , freyexp.cfg
         Scheduler        , KonfigDiff.cfg
    [End]


[End] // End DBTaskGroup:Opt&Save

// ************************************************************************************************
[DBTaskGroup:doSQLlog]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]
      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , doSQLlog.cfg
    [End]

[End] // End DBTaskGroup:doSQLlog


// ------------------------------------------------------------------------------
// end of file
