// File  : Tain2.cfg        (primary CFG)
// Module: TaskManager
// Vers  : 2.1
// Date  : 19.01.04
// Sign  : ww/pie
// Doc   : TaskMan.doc
//
// Proj  : Basissystem
//         ===========
//
// [110207] dbu s78551 angepasst wegen SPM2.0 Umstellung
// [110128] dbu s78284 Backup rekonfiguriert.
//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+

;*****************************************************************************
; AENDERUNGEN:
; tt.mm.yy kkk text
;
; <20051213> dbu Neue Task eingeführt -> dbdump
;*****************************************************************************


#SectionHierarch  ; dieser File ist hierarchisch zu interpretieren!

[Global]
  WindowTitle    = TAIN_Monitor_(SPM)     // TAIN2 via SPM
  ErrorLogFile   = h:\swllog\spm.tain\Tain.log
  EnableCFGEdit  = yes
  ColTitle5      = akt.Proc.
  ColTitle6      = RetCode
[End]


// ************************************************************************************************
[DBTaskGroup:Tain2]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    [Tasks] // Tabelle zugehöriger Tasks:
            // TaskClass: ist eine ID, die den zu generierenden Task festlegt
            //            (wird überprüft mit dem entsprechenden Parameter in den Sub-Cfg's)
            // Taskcfg  : ist der zugehörige cfg-File (muß im gleichen Directory liegen wie dieser cfg-File!!

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , ReorAbli.cfg
         Scheduler        , PreTain.cfg
         Scheduler        , Mint.cfg
         Scheduler        , Tain.cfg
         Scheduler        , Lauris_Patiliste.cfg     
    [End]

[End] // End DBTaskGroup:Tain2


// ************************************************************************************************
[DBTaskGroup:Opt&Save]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    // Hinweise:
    // Die Archivierung sollte immer VOR Dump / Opt laufen und NIE gleichzeitig mit Dump !!!
    // Das Optimize soll (laut LME) immer erst NACH der
    // Sicherung (FileDump oder TapeDump) laufen !!
    // => Also in den entsprechenden cfg's den Startzeitpunkt der Sicherung früher als
    //    den des Optimize einstellen (es reicht im Prinzip 1 sec).

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , Arch.cfg
         Scheduler        , OptTask.cfg
         Scheduler        , Optimize.cfg

    [End]

[End] // End DBTaskGroup:Opt&Save


// ************************************************************************************************
[DBTaskGroup:LabAutomatik]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         DirCleaner       , DirClean.cfg

         Scheduler        , UpdErrNachricht.cfg
         Scheduler        , InsKonsTransOPS.cfg
         Scheduler        , OPS_Uebersicht.cfg
    [End]

[End] // End DBTaskGroup:LabAutomatik

// ************************************************************************************************
[DBTaskGroup:doSQLlog]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLCLUSTER
    DBName      = // SWISSLAB
    User        = sa                 // muss 'sa' sein, damit alle Prozeduren ausgefuert werden koennen
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
                                             
         Scheduler        , doSQLlog.cfg
    [End]

[End] // End DBTaskGroup:doSQLlog

// ------------------------------------------------------------------------------
// end of file
