// File  : Tain2.cfg        (primary CFG)
// Module: TaskManager
// Vers  : 1.0
// Date  : 25.10.1999
// Sign  : kla
// Doc   : TaskMan.doc
//
// Proj  : Basissystem
//         ===========
//
//
//----------------------------------------------------------------------------+
// Copyright (c) 1999 by FREY Computersysteme GmbH Berlin                     !
// All Rights Reserved.                                                       !
//----------------------------------------------------------------------------+

#SectionHierarch  ; dieser File ist hierarchisch zu interpretieren!

[Global]
  WindowTitle    = Tain2 - SWISSLAB II
  ErrorLogFile   = \\ZEI--SWLSRV15\swclient\swllog\Tain2\Tain.log
  EnableCFGEdit  = yes
  ColTitle5      = akt.Proc.
  ColTitle6      = RetCode
[End]


// ************************************************************************************************
[DBTaskGroup:Tain2]
                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    [Tasks] // Tabelle zugehöriger Tasks:
            // TaskClass: ist eine ID, die den zu generierenden Task festlegt
            //            (wird überprüft mit dem entsprechenden Parameter in den Sub-Cfg's)
            // Taskcfg  : ist der zugehörige cfg-File (muß im gleichen Directory liegen wie dieser cfg-File!! 

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         Scheduler        , ReorAbli.cfg     
         Scheduler        , PreTain.cfg     
         Scheduler        , Mint.cfg
         Scheduler        , Tain.cfg   
         Scheduler        , Lauris_Patiliste.cfg            
    [End]


[End] // End DBTaskGroup:Tain2


// ************************************************************************************************
[DBTaskGroup:Opt&Save]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!


    // Hinweise:
    // Die Archivierung sollte immer VOR Dump / Opt laufen und NIE gleichzeitig mit Dump !!!
    // Das Optimize soll (laut LME) immer erst NACH der
    // Sicherung (FileDump oder TapeDump) laufen !!
    // => Also in den entsprechenden cfg's den Startzeitpunkt der Sicherung früher als
    //    den des Optimize einstellen (es reicht im Prinzip 1 sec). 

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
                                             
         Scheduler        , Arch.cfg
//       Scheduler        , FileDump.cfg       // entweder FileDump oder TapeDump
//       Scheduler        , TapeDump.cfg
         Scheduler        , Optimize.cfg     
         Scheduler        , OptTask.cfg     // 7.10.03 ww sollte stuendlich gemacht werden
         Scheduler        , Opt_Man.cfg
//       Scheduler        , CrIndex.cfg         // nach einmaliger Ausführung wieder deaktivieren      
         Scheduler        , altdatAusTaskflag.cfg  //23.01.2007 mas temporär für Altdatenimport Tumorforschung
    [End]


[End] // End DBTaskGroup:Opt&Save

// ************************************************************************************************
[DBTaskGroup:LabAutomatik] 



    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
         DirCleaner       , DirClean.cfg
 //        Scheduler        , Util.cfg
         Scheduler        , KonsFTP.cfg     // Essen-Special: KOnservenDaten per FTP-Scrpit alle 5 Min holen
//       Scheduler        , ntdasi.cfg
//       Scheduler        , abliaufb.cfg
//       Scheduler        , StammExp.cfg
    [End]


[End] // End DBTaskGroup:LabAutomatik

// ************************************************************************************************
[DBTaskGroup:doSQLlog]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLROUTINE
    DBName      = // SWISSLAB
    User        = // swissdbo
    pwd         = // -------         // besser nur über RunString setzen !!

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------
                                             
         Scheduler        , doSQLlog.cfg
    [End]

[End] // End DBTaskGroup:doSQLlog


// ************************************************************************************************

[DBTaskGroup:DB&TranDump]

                                     // Wenn hier nicht definiert, dann aus RunString
    DBArt       =                    // z.B.: 'RoutineDB' aus swisslab.ini
    DBAliasName =                    // z.B.: 'KlinChem'  aus swisslab.ini
    DBServer    = // SQLSERVER
    DBName      = // SWISSLAB
    User        = 
    pwd         =                    // besser nur über RunString setzen !!


    // Hinweise:

    [Tasks]

      // TaskClass        , Taskcfg       , 'RunString'-Parameter (optional)
      // -------------------------------------------------------------------

         Scheduler        , dumpdb.cfg
         Scheduler        , dumpdb_man.cfg
    [End]

[End] // End DBTaskGroup:Opt&Save

// ------------------------------------------------------------------------------
// end of file
