<configuration>
   <appSettings>
      <!-- DNS-Name oder Alias des Gateway-Servers -->
      <add key="GatewayA" value="vswlaurisgate.zit.med.uni-tuebingen.de"/>
      <add key="GatewayB" value="vswlaurisgate2.zit.med.uni-tuebingen.de"/>
      <add key="Balance" value="on"/>
   </appSettings>
</configuration>
