<configuration>
  <appSettings>
    <add key="GatewayA"    value="10.253.53.215" />
    <add key="GatewayB"    value="10.253.53.214" />
    <add key="GatewayC"    value="194.94.160.185" />
    <add key="Port"        value="25400" />
    <add key="Balance"     value="on" />
    <!-- Benutzername aus Windows vorbelegen -->
    <!-- <add key="DefUser"     value="%USERNAME%" /> -->
    <!-- eD NDS -->
    <!-- <add key="LogonType"   value="LDAP" /> -->
    <!-- DNS-Name oder Alias des LDAP-Servers -->
    <!-- <add key="LogonServer" value="194.94.160.30" /> -->
    <!-- Pfad zur OU der Benutzer --> 
    <!-- <add key="LogonPath"   value="o=UKSH" /> -->
    <!-- ZAD -->
    <!-- <add key="LogonType"   value="LDAP" /> -->
    <!-- DNS-Name oder Alias des LDAP-Servers -->
    <!-- <add key="LogonServer" value="ADCLV001.ZAD.local" /> -->
    <!-- <add key="LogonServer" value="ADCLV002.ZAD.local" /> -->
    <!-- Domain der Benutzer -->
    <!-- <add key="LogonDomain" value="ZAD.local" /> -->
  </appSettings>
</configuration>
